body{ padding-left:50px;
    padding-right:200px;
}

nav{background-color: aqua;
    font-style: oblique;
    font-size: 50px;
    /* padding-right: 40px; */
    padding-left: 40px;
}

nav:hover{background-color: chartreuse;
}

h1{font-size: 40px;
font-style: oblique;
text-align: center;
color: blue;
}

h1:hover{color: aqua;
}

p{font-size: 25px;
    font-style: italic;
  }

  p:hover{color: rgb(0, 8, 255);

  }

h2{font-size: 30px;
font-style: oblique;
color: rgb(40, 19, 199);
}

h2:hover{color: aqua;
}

th{
    background-color: rgb(91, 239, 41);
    font-style: oblique;
    font-size: 25px;
}

th:hover{background-color: aquamarine;
}

td{background-color: rgb(148, 158, 72);
    font-style: italic;
    font-size: 20px;
}

td:hover{background-color: aqua;

}

ul{font-style: italic;
    font-size: 25px;
}

footer{color: blue;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}

footer:hover{color: chartreuse;
}